:host {
    position: relative;
    max-width: 700px;
    display: block;
    padding: 2rem 0 80px;
    margin: 0 auto;
}

.action-btn {
    position: fixed;
    bottom: 24px;
    right: 24px;

    @media screen and (min-width: 900px) {
        position: absolute;
        right: -80px;
        top: 24px;
        bottom: 0;
    }
}

h1 {
    margin: 0;
}

section.sub-header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    & > .user-section {
        display: inline-flex;
        align-items: center;
        & > label {
            font-weight: 500;
        }
    }

    & > app-task-status {
        margin-left: 2rem;
    }
}