span.status {
    display: inline-block;
    padding: 0.5rem;
    margin: 0 0.25rem;
    text-align: center;
    border-radius: 0.25rem;
    background-color: #e62c27;
    color: white;

    &.completed {
        background-color: #0ebc5b;
    }
}